.text-animate {
   display: inline-block;
   opacity: 0;
   animation: bounceIn;
   animation-duration: 1s;
   animation-delay: 1s;
   animation-fill-mode: forwards;
   min-width: 10px;
}

.text-animate-hover {
   min-width: 10px;
   display: inline-block;
   animation-fill-mode: both;
}

.rubberBand {
   display: inline-block;
   animation: rubberBand 1s;
   color: #4e4a85;
}

@keyframes rubberBand {
   from {
      transform: scale3d(1, 1, 1);
   }

   30% {
      transform: scale3d(1.25, 0.75, 1);
   }

   40% {
      transform: scale3d(0.75, 1.25, 1);
   }

   50% {
      transform: scale3d(1.15, 0.85, 1);
   }

   65% {
      transform: scale3d(0.95, 1.05, 1);
   }

   75% {
      transform: scale3d(1.05, 0.95, 1);
   }

   to {
      transform: scale3d(1, 1, 1);
   }
}

@for $i from 1 through 35 {
   .text-animate._#{$i} {
      animation-delay: #{$i / 10}s;
   }
}