.page {
   width: 100%;
   min-height: 100vh;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
   overflow: hidden;
}

.top-tags {
   position: absolute;
   bottom: auto;
   top: 40px;
   margin-left: 10px;
}

.top-html {
   position: absolute;
   bottom: auto;
   top: 22px;
   margin-left: 0px;
}

.tags {
   color: #fff;
   opacity: 0.6;
   position: absolute;
   left: 110px;
   font-size: 18px;
   font-family: 'La Belle Aurore', cursive;
   z-index: 10;
}

.bottom-tags {
   position: absolute;
   margin-left: 20px;
   bottom: 50px;
}

.bottom-tag-html {
   margin-left: -18px;
}

.container.project-page {
   width: 100%;

   .text-zone {
      position: relative;
      width: 35%;
      left: 15vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      z-index: 5;

      h1 {
         font-size: clamp(55px, 9vw, 95px);
         font-family: 'Coolvetica';
         color: #4e4a85;
         font-weight: 400;
         width: 100%;
         margin-top: 0;
         position: relative;
         margin-bottom: 30px;
         left: -10px;

         &:before {
            content: '<h2>';
            font-family: 'La Belle Aurore', cursive;
            color: #fff;
            font-size: 17px;
            position: absolute;
            left: -10px;
            opacity: 0.6;
            line-height: 18px;
            margin-top: 9px;
         }

         &:after {
            content: '<h2/>';
            font-family: 'La Belle Aurore', cursive;
            color: #fff;
            font-size: 18px;
            line-height: 18px;
            position: absolute;
            left: -30px;
            bottom: -2px;
            margin-left: 20px;
            opacity: 0.6;
         }
      }

      p {
         font-size: 14px;
         color: #fff;
         font-family: sans-serif;
         max-width: fit-content;
         animation: pulse 1s;
         opacity: 0.9;
         position: relative;

         &:before {
            content: '<p>';
            font-family: 'La Belle Aurore', cursive;
            color: #4e4a85;
            font-size: 18px;
            position: absolute;
            margin-top: -18px;
            left: -10px;
            opacity: 0.6;
         }

         &:after {
            content: '<p/>';
            font-family: 'La Belle Aurore', cursive;
            color: #4e4a85;
            font-size: 18px;
            display: block;
            position: relative;
            left: -12px;
            bottom: 5px;
            opacity: 0.6;
         }

         &:nth-of-type(1) {
            animation-delay: 1.1s;
         }
      }
   }

   .text-animate-hover {
      &:hover {
         color: #fff;
      }
   }
}

.fake-magicwall {
   background: #181818;
   width: 45%;
   height: 100vh;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   overflow-y: auto;
   position: relative;
}

.auto-scroll::-webkit-scrollbar {
   display: none;
}

.auto-scroll {
   scrollbar-width: none;
}

.magic-wall_item {
   position: relative;
   opacity: 0.8;
   transition: transform 0.5s, opacity 0.5s;
}

.fake-magicwall img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   display: block;
}

.magic-wall_item:hover {
   transform: scale(1.14);
   cursor: pointer;
   opacity: 1;
   z-index: 2;
}

.qView {
   color: #4e4a85;
   text-decoration: none;
   font-size: 13px;
   display: inline-block;
   margin-top: 10px;

   &:hover {
      color: #fff;
      cursor: pointer;
   }
}