.logo-container {
   z-index: 0;
   width: 400px;
   height: 609px;
   opacity: 0;
   position: relative;
   top: 21vh;
   right: 15vw;
   bottom: 0;
   left: 14vw;
   margin: auto;

   svg {
      width: 100%;
      height: auto;
      bottom: 0;
      transform: rotateZ(9deg) !important;
   }

   .solid-logo {
      position: relative;
      top: auto;
      right: 15vw;
      bottom: auto;
      left: 6vw;
      margin: auto;
      width: 30vw;
      opacity: 0;
      transform: rotateZ(9deg) !important;
      z-index: 1;
   }
}

.svg-container {
   stroke: #4e4a85;
   stroke-width: 10;
}