.logo-container {
   right: 7%;
   width: 40%; 
   max-width: 450px;
   position: absolute;
   top: 45%;
   transform: translateY(-50%);
   z-index: 1;
   pointer-events: none;

   .solid-logo {
      width: 100%;
      height: auto;
      display: block;
   }
}