.page {
   width: 100%;
   min-height: 100vh;
   position: relative;
}

.container {
   width: 100%;
   will-change: contents;
   min-height: 100vh;
   position: relative;
   opacity: 0;
   margin: 0 auto;
   z-index: 1;
   transform-style: preserve-3d;
   animation: fadeIn 1s forwards;
   animation-delay: 1s;
}