.page {
   width: 100vw;
   height: 100vh;
   position: relative;
}

.top-tags {
   bottom: auto;
   top: 100px;
}
.top-html {
   bottom: auto;
   top: 22px;
   margin-left: -20px;
}

.tags {
   color: #4e4a85;
   opacity: 0.6;
   position: absolute;
   bottom: 0;
   left: 150px;
   font-size: 18px;
   font-family: 'La Belle Aurore',cursive;
}

.bottom-tag-html {
   margin-left: -20px;
}

.container {
   width: 100%;
   will-change: contents;
   height: 90%;
   min-height: 566px;
   position: absolute;
   opacity: 0;
   top: 5%;
   margin: 0 auto;
   z-index: 1;
   transform-style: preserve-3d;
   animation: fadeIn 1s forwards;
   animation-delay: 1s;
}
