.page {
   width: 100%;
   height: 100vh;
   position: relative; 
   scroll-snap-align: start;
   scroll-snap-stop: normal;
}

.top-tags {
   bottom: auto;
   top: 40px;
   color: #fff;
}

.top-html {
   bottom: auto;
   top: 22px;
   margin-left: -20px;
   color: #fff;
}

.tags {
   color: #fff;
   opacity: 0.6;
   position: absolute;
   bottom: 0;
   left: 150px;
   font-size: 18px;
   font-family: 'La Belle Aurore', cursive;
}

.bottom-tag-html {
   margin-left: -20px;
   color: #fff;
}

.container.about-page {
   width: 100%;
   height: 100%;
   position: relative;
   .text-zone {
      position: absolute;
      left: 15vw;
      right: 40vw;
      top: 60%;
      transform: translateY(-60%);
      width: 30vw;
      vertical-align: middle;
      display: table-cell;
      max-height: 90%;

      h1 {
         font-size: clamp(55px, 9vw, 95px);
         font-family: 'Coolvetica';
         color: #4e4a85;
         font-weight: 400;
         width: 65vw;
         margin-top: 0;
         position: relative;
         margin-bottom: 30px;
         left: -10px;

         &:before {
            content: '<h2>';
            font-family: 'La Belle Aurore', cursive;
            color: #fff;
            font-size: 17px;
            position: absolute;
            top: 5px;
            left: -10px;
            opacity: 0.6;
         }

         &:after {
            content: '<h2/>';
            font-family: 'La Belle Aurore', cursive;
            color: #fff;
            font-size: 18px;
            line-height: 18px;
            position: absolute;
            left: -30px;
            bottom: -1px;
            margin-left: 20px;
            opacity: 0.6;
         }
      }

      p {
         font-size: 15px;
         color: #fff;
         font-family: sans-serif;
         max-width: fit-content;
         animation: pulse 1s;

         &:before {
            content: '<p>';
            font-family: 'La Belle Aurore', cursive;
            color: #4e4a85;
            font-size: 18px;
            position: absolute;
            margin-top: -16px;
            left: -10px;
            opacity: 0.6;
            line-height: 18px;
         }

         &:after {
            content: '<p/>';
            font-family: 'La Belle Aurore', cursive;
            color: #4e4a85;
            font-size: 18px;
            line-height: 18px;
            position: relative;
            left: -11px;
            display: block;
            opacity: 0.6;
            bottom: -3px;
         }

         &:nth-of-type(1) {
            animation-delay: 1.1s;
         }
      }
   }

   .myCv {
      position: absolute;
         left: 40vw;
         top: 50%;
         transform: translateY(-50%);
         width: 35vw;
         height: 65vh;
         background: rgba(24, 24, 24, 0.4);
         backdrop-filter: blur(8px);
         border: 1px solid rgba(78, 74, 133, 0.2);
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
      
         &::before,
         &::after {
            content: '';
            position: absolute;
            width: 50px;
            height: 50px;
            border: 2px solid #4e4a85;
            transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
            z-index: 1;
         }
      
         &::before {
            top: 30px;
            left: 30px;
            border-right: none;
            border-bottom: none;
         }
      
         &::after {
            bottom: 30px;
            right: 30px;
            border-left: none;
            border-top: none;
         }
      
         &:hover::before,
         &:hover::after {
            width: calc(100% - 60px);
            height: calc(100% - 60px);
            border-color: rgba(255, 255, 255, 0.6);
            box-shadow: inset 0 0 20px rgba(78, 74, 133, 0.3);
         }
   }

   .text-animate-hover {
      &:hover {
         color: #fff;
      }
   }
}

.reach{
   text-decoration: none;
   color: #4e4a85;
   display: block;
   margin-top: 5px;
   &:hover{
      color: white;
   }
}

.rtext {
   font-family: 'Coolvetica';
   color: #4e4a85;
   font-weight: 400;
   font-size: 4vw;
   letter-spacing: 2px;
   margin-bottom: 60px;
   z-index: 2;
   position: relative;

   &:before {
      content: '<resume>';
      font-family: 'La Belle Aurore', cursive;
      color: #4e4a85;
      font-size: 18px;
      position: absolute;
      top: -35px;
      left: -30px;
      text-shadow: none;
      text-transform: lowercase;
      letter-spacing: normal;
   }

   &:after {
      content: '</resume>';
      font-family: 'La Belle Aurore', cursive;
      color: #4e4a85;
      font-size: 18px;
      position: absolute;
      bottom: -35px;
      right: -30px;
      text-shadow: none;
      text-transform: lowercase;
      letter-spacing: normal;
   }
}

.okay {
   z-index: 2;
   width: 60%;
   /* Makes the button nice and wide */

   a {
      display: block;
      padding: 20px 20px;
      text-decoration: none;
      font-size: 14px;
      letter-spacing: 5px;
      color: #4e4a85;
      border: 1px solid #4e4a85;
      text-align: center;
      position: relative;
      overflow: hidden;
      background: transparent;
      transition: color 0.4s ease;

      /* Animated Sweep Background */
      &::before {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         width: 0;
         height: 100%;
         background-color: #4e4a85;
         transition: width 0.4s ease;
         z-index: -1;
      }

      &:hover {
         color: #fff;
         box-shadow: 0 0 25px rgba(78, 74, 133, 0.5);

         &::before {
            width: 100%;
         }
      }
   }
}