.page {
   width: 100%;
   height: 100%;
   position: absolute;
}

.top-tags {
   bottom: auto;
   top: 40px;
}

.top-html {
   bottom: auto;
   top: 22px;
   margin-left: -20px;
}

.tags {
   color: #4e4a85;
   opacity: 0.6;
   position: absolute;
   bottom: 0;
   left: 150px;
   font-size: 18px;
   font-family: 'La Belle Aurore', cursive;
}

.bottom-tag-html {
   margin-left: -20px;
}

.container.about-page {
   .text-zone {
      position: absolute;
      left: 14vw;
      right: 40vw;
      top: 50%;
      transform: translateY(-60%);
      width: 30vw;
      vertical-align: middle;
      display: table-cell;
      max-height: 90%;

      h1 {
         font-size: 70px;
         font-family: 'Coolvetica';
         color: #4e4a85;
         font-weight: 400;
         width: 65vw;
         margin-top: 0;
         position: relative;
         margin-bottom: 30px;
         left: -10px;

         &:before {
            content: '<h2>';
            font-family: 'La Belle Aurore', cursive;
            color: #4e4a85;
            font-size: 17px;
            position: absolute;
            top: 5px;
            left: -10px;
            opacity: 0.6;
         }

         &:after {
            content: '<h2/>';
            font-family: 'La Belle Aurore', cursive;
            color: #4e4a85;
            font-size: 18px;
            line-height: 18px;
            position: absolute;
            left: -30px;
            bottom: -1px;
            margin-left: 20px;
            opacity: 0.6;
         }
      }

      p {
         font-size: 14px;
         color: #fff;
         font-family: sans-serif;
         max-width: fit-content;
         animation: pulse 1s;

         &:before {
            content: '<p>';
            font-family: 'La Belle Aurore', cursive;
            color: #4e4a85;
            font-size: 18px;
            position: absolute;
            margin-top: -16px;
            left: -10px;
            opacity: 0.6;
            line-height: 18px;
         }

         &:after {
            content: '<p/>';
            font-family: 'La Belle Aurore', cursive;
            color: #4e4a85;
            font-size: 18px;
            line-height: 18px;
            position: relative;
            left: -11px;
            display: block;
            opacity: 0.6;
            bottom: -3px;
         }

         &:nth-of-type(1) {
            animation-delay: 1.1s;
         }
      }
   }

   .myCv {
      background-color: #181818;
      position: absolute;
      left: 43vw;
      width: 32vw;
      top: 60%;
      transform: translateY(-60%);
      height: 30vh;
   }

   .text-animate-hover {
      &:hover {
         color: #fff;
      }
   }
}

.rtext {
   font-family: 'Coolvetica';
   color: #4e4a85;
   font-weight: 650;
   font-size: 40px;
   margin-left: 26px;
   margin-top: 24px;

   &:before {
      content: '<h3>';
      font-family: 'La Belle Aurore', cursive;
      color: #4e4a85;
      font-size: 14px;
      position: absolute;
      left: 10px;
      opacity: 0.6;
   }

   &:after {
      content: '<h3/>';
      font-family: 'La Belle Aurore', cursive;
      color: #4e4a85;
      font-size: 14px;
      position: absolute;
      left: 11px;
      margin-top: 50px;
      opacity: 0.6;
   }
}

.reach{
   text-decoration: none;
   color: #4e4a85;
   display: block;
   margin-top: 5px;
   &:hover{
      color: white;
   }
}

.okay {
   text-decoration: none;
   padding: 8px 10px;
   border: 1px solid #4e4a85;
   margin-top: 8vh;
   position: relative;
   width: 80%;
   color: #4e4a85;
   text-align: center;
   margin-left: auto;
   margin-right: auto;

   a {
      text-decoration: none;
      font-size: 13px;
      letter-spacing: 4px;
      color: #4e4a85;
   }

}