@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
   height: 100vh;
   margin: 0;
   position: relative;
}

.page {
   width: 100%;
   height: 100%;
   position: absolute;
}

.top-tags {
   bottom: auto;
   top: 40px;
}

.top-html {
   bottom: auto;
   top: 22px;
   margin-left: -20px;
}

.tags {
   color: #4e4a85;
   opacity: 0.6;
   position: absolute;
   bottom: 0;
   left: 150px;
   font-size: 18px;
   font-family: 'La Belle Aurore', cursive;
}

.bottom-tag-html {
   margin-left: -20px;
}

.container.skill-page {
  
   .text-zone {
      position: absolute;
      left: 12.7vw;
      top: 50vh;
      transform: translateY(-60%);
      width: 35%;
      max-height: 90vh;

      h1 {
         font-size: 70px;
         font-family: 'Coolvetica';
         color: #4e4a85;
         left: 15%;
         line-height: 49px;
         font-weight: 400;
         margin-top: 0;
         position: relative;
         margin-bottom: 25px;
         left: -10px;

         &:before {
            content: '<h2>';
            font-family: 'La Belle Aurore', cursive;
            color: #4e4a85;
            font-size: 18px;
            position: absolute;
            left: -10px;
            opacity: 0.6;
            line-height: 20px;
            bottom: 93px;
         }

         &:after {
            content: '<h2/>';
            font-family: 'La Belle Aurore', cursive;
            color: #4e4a85;
            font-size: 18px;
            line-height: 18px;
            position: absolute;
            left: -30px;
            bottom: -23px;
            margin-left: 20px;
            opacity: 0.6;
         }
      }

      p {
         font-size: 14px;
         color: #fff;
         font-family: sans-serif;
         max-width: fit-content;
         animation: pulse 1s;
         margin-top: 37px;

         &:before {
            content: '<p>';
            font-family: 'La Belle Aurore', cursive;
            color: #4e4a85;
            font-size: 18px;
            position: absolute;
            margin-top: -16px;
            left: -10px;
            opacity: 0.6;
            line-height: 18px;
         }

         &:after {
            content: '<p/>';
            font-family: 'La Belle Aurore', cursive;
            color: #4e4a85;
            font-size: 18px;
            line-height: 18px;
            position: relative;
            display: block;
            left: -11px;
            bottom: -3px;
            opacity: 0.6;
         }

         &:nth-of-type(1) {
            animation-delay: 1.1s;
         }
      }
   }

   .text-animate-hover {
      &:hover {
         color: #fff;
      }
   }
}

.tagcloud {
   font-family: sans-serif;
   font-size: 16px;
   margin: auto;
   width: 50%;
}
.tagcloud--item {
   color: #fff;
}

.tagcloud--item:hover {
   color: #4e4a85;
}

 .content {
   position: absolute;
   top: 50%;
   right: 0;
   transform: translateY(-50%);
   text-align: center;
   width: 50%;
   animation: fadeIn 1.3s 1s backwards;
 }

 .work-exp {
    color: #4e4a85;
    text-decoration: none;
   font-weight: 500;

    &:hover {
       color: #fff;
       cursor: pointer;
    }

    font-size: 16px;
 }
 .vertical-line {
    width: 0.1px;
    height: 46px;
    margin: 6px;
    background-color: #fff;
 }
 .exp-flex {
   display: flex;
   flex-direction: row;
 }
 .gs-found {
   padding-top: 10px;
 }