.nav-bar {
   background: #181818;
   width: 95px;
   height: 100%;
   position: absolute;
   top: 0;
   z-index: 3;
   min-height: 500px;

   .logo {
      display: block;
      padding: 8px 0;

      img {
         display: block;
         margin: 10px auto;
         width: 70px;
         height: auto;

         &.sub-logo {
            width: 70px;
         }

         &.sub-log {
            margin-top: 15px;
            width: 80px;
         }
      }
   }
}

nav {
   display: block;
   text-align: center;
   position: absolute;
   height: 210px;
   top: 50%;
   margin-top: -130px;
   width: 100%;

   a {
      font-size: 17px;
      color: #4d4d4e;
      display: block;
      line-height: 40px;
      height: 40px;
      position: relative;
      text-decoration: none;

      i {
         transition: all 0.3s ease-out;
      }

      &:hover {
         color: #fff;
         font-size: large;

         svg {
            opacity: 0;
         }

         &:after {
            opacity: 1;
         }
      }

      &:after {
         content: '';
         font-size: 11px;
         letter-spacing: 2px;
         position: absolute;
         bottom: 0;
         display: block;
         width: 100%;
         text-align: center;
         opacity: 0;
         -webkit-transition: all 0.3s ease-out;
         transition: all 0.3s ease-out;
      }

      &:first-child {
         &:after {
            content: 'HOME';
         }
      }
   }

   a.about-link {
      &:after {
         content: 'ABOUT';
      }
   }

   a.skill-link {
      &:after {
         content: 'MY SKILLS';
      }
   }

   a.project-link {
      &:after {
         content: 'MY WORK';
      }
   }

   a.contact-link {
      &:after {
         content: 'CONTACT';
      }
   }

   a.active {
      svg {
         color: #4e4a85;
      }
   }
}

ul {
   position: absolute;
   bottom: 20px;
   width: 100%;
   display: block;
   padding: 0;
   list-style: none;
   text-align: center;
   margin: 0;

   li {
      a {
         padding: 7px 0;
         display: block;
         font-size: 15px;
         line-height: 16px;
         color: #4d4d4e;

         &:hover svg{
            color: #4e4a85;
         }
      }
   }
}


.horizontal-line {
   height: 0.2px;
   background-color: #4d4d4e;
}